@background : {
    
    background-size: 100%;
    background-repeat: no-repeat;
}
@sizeinit : {
    overflow: hidden;
    width: 100%;
    height: 100%;
}  
@rect : calc(100vw / 7);
@rectBf : calc(100vw / 10);
.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    background:#f5f5f5;
    overflow: hidden;
    .index{
        z-index: 10;
        @sizeinit();
        position: absolute;
        .title{
            width: 50%;
            height: 0; 
            padding-bottom: 12%;
            margin: 10vh auto;
            background-image: url(../images/lib/title.png);
            @background(); 
        }
        .mainbtn{
            width: 100%; 
            padding: 2em 0;
            text-align: center;
            a{
                display: block;
                width: 35%; 
                height: 0;
                padding-bottom: 12%;
                background-image: url(../images/lib/startbtn.png);
                @background(); 
                margin: 1em auto;
            }
            .worldbtn{
                background-image: url(../images/lib/worldbtn.png);
            }
        }
        .bg{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            height: 0;
            padding-bottom: 75%;
            background-image: url(../images/lib/bg.png);
            @background(); 
        }
        .sound{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 15vh;  

            label, .checked, .ischecked::after{
                position: absolute;
                height: 0; 
                @background();
            }
            label, .checked{ 
                bottom: 8vh;  
                padding-bottom: 5%;
            }
            label{ 
                right: 20vw;
                width: 10vw; 
                background-image: url(../images/lib/sound.png); 
            }
            .checked{ 
                right: 10vw;
                width: 5vw; 
                background-image: url(../images/lib/sound-box.png); 
            }
            .ischecked::after{
                content: ""; 
                left: 0;
                bottom: 0;
                width: 10vw; 
                padding-bottom: 170%;
                background-image: url(../images/lib/sound-check.png); 
            }
        }

    }

} 
.wrapper{
    .start{   
        position: absolute;
        z-index: -99;
        @sizeinit();
        background: #f5f5f5;
        .header{
            position: absolute;
            z-index: 25;
            padding: 1em 0;
            width: 100%;
            height: 7vh;
            line-height: 5vh; 
            display: flex; 
            background: #f5f5f5;
            .score, .livebox, .puase, .direction{
                flex: 2; 
            }
            .direction{
                text-align: center;
                flex: 1; 
            }
            .score{
                box-sizing: border-box; 
                text-align: right;
                color: #494242;
                font-size: 5vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                .seconds{
                    font-size: .5em;
                    line-height: 1em;
                }
            }
            .livebox{ 
                display: flex;
                justify-content: center;
                align-items: center;
                span.live{
                    width: 5vw;
                    height: 0;
                    padding-bottom: 5vw;
                    background-image: url(../images/lib/live.png);
                    @background();
                    margin: 2px;
                }
                span.livelose{
                    background-image: url(../images/lib/livelose.png);
                }
            }
            .puase{
                display: flex;
                justify-content: center;
                align-items: center;
                .pupl{
                    display: block;
                    width: 18vw;
                    height: 0;
                    padding-bottom: 9vw;
                    background-image: url(../images/lib/play.png);
                    @background();
                }
                .play{
                    background-image: url(../images/lib/pause.png);
                }
            }
        }
        .bodyer{
            z-index: 22;
            @sizeinit();  
            .obstacle{  
                position: relative;
                width: 100%;
                height: 100%;  
                .ob-list{ 
                    position: absolute;
                    top:-100vh; 
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    li{
                        list-style: none;
                        display: block;
                        min-width: 100%;
                        height: 10vh; 
                        div{
                            display: inline-block;
                            width: @rect;
                            height: @rect;
                            background: #f5f5f5;
                            @background();
                        }
                    }
                }
            }
        }
        .footer{
            // box-sizing: border-box;
            position: absolute;
            bottom: 10vh; 
            // width: 100%;
            // height: 10vh; 
            // z-index: 999;
            left: 5vw; 
            width: 4vw;
            height: 4vw; 
            .butterfly{  
                position: relative;
                width: 14vw;
                height: 14vw; 
                transform:   translate(-35%, -35%);
                span{
                    position: absolute;
                    width: 100%;
                    height: 100%; 
                    background-image: url(../images/lib/u2.png) ;
                    @background();
                }
                .fly{ 
                    animation: flying infinite .5s forwards;
                   
                }
                @keyframes flying {
                    0%{
                        transform: rotateY(0)
                    }
                    50%{
                        transform: rotateY(80deg)
                    }
                     
                }
                
            }
        }
        .model{ 
            z-index: 30;
            display: none;
            position: absolute;
            width: 70vw;
            height: calc(70vw / 2); 
            background-image: url(../images/lib/overbox.png);
            @background(); 
            left: 50vw;
            top: 50vh;
            transform: translate(-50%, -80%);
            animation: shink 1s ease-in infinite;
            text-align: center;
            vertical-align: middle;  
            span{  
                line-height: calc(70vw / 2);
                font-size: 4em;
                animation: shinkspan 1s infinite ease-in; 
                opacity: 0;
                color: #494242;
            }
            @keyframes shinkspan {
                50%{
                    font-size: 8em;
                    opacity: 1;
                }
            } 
            
            
        }
        @keyframes shink { 
            50%{
                width: 75vw;
                height: calc(75vw / 2); 
            }
        }
        .show{
            display: block;
        }
    }
}
.wrapper{
    .error, .return{
        z-index: -999;
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -80%);
        width: 80vw;
        height: 40vw;
        background-image: url(../images/lib/overbox.png);
        @background();
        .title, .retitle{ 
            width: 30vw;
            height: 10vw; 
            line-height: 10vw;
            background-image: url(../images/lib/over.png); 
            @background();
            margin:6vw auto; 
        }

        .retitle{
            z-index: 999;
            width: 60vw;
            height: 6vw;
            background-image: url(../images/lib/reTitle.png); 
            @background();
        }
        .btnbox{
            height: 10vw; 
            line-height: 10vw;
            text-align: center;
            div{
                display: inline-block;
                width:20vw;
                height: 10vw;
                background-image: url(../images/lib/overpower.png); 
                @background();
                margin: 0 2vw;
                transition: all .3s;
            }
            .divActive{
                width: 20vw;
                height: 10vw;
            }
            .overpower{
                background-image: url(../images/lib/overpower.png); 
            }
            .overstart{
                background-image: url(../images/lib/overstart.png); 
            }
            .oversend{
                background-image: url(../images/lib/oversend.png); 
            }
            .yes{
                background-image: url(../images/lib/yes.png); 
            }
            .no{
                background-image: url(../images/lib/no.png); 
            } 
        }
    }
}
.wrapper{
    .world{
        z-index: -99;
        // z-index: 999;
        @sizeinit();
        position: absolute;
        background: #f5f5f5;
        .list-world{
            width: 100%;
            height: 100%; 
            box-sizing: border-box;
            padding: 5vh 10vw;
            background-image: url(../images/lib/bg2.JPG);
            background-position: 100% 100%;
            background-size: 60%;
            background-repeat: no-repeat;
            li{
                display: flex;
                line-height: 1.5em;
                border-bottom: 1px solid rgb(138, 133, 133); 
                padding: 1em 0;
                .world-index{
                    text-align: center; 
                    width: 1.5em;  
                    background: #ec2424;
                    color: #f5f5f5;
                    border-radius: 50%;
                }
                .world-addr{  
                    width: 65%;  
                    overflow: hidden;
                    text-overflow: ellipsis; 
                    padding: 0 1em;
                }
                .world-score{  
                    white-space: nowrap;  
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .red{
                        color:  #ec2424;
                    }
                }
            }
        }
    }
}
.wrapper{
    .tips{
        z-index: -99;
        background: #494242;
        color: #f5f5f5;
        line-height: 3em;
        text-align: center;
        border-radius: 3em;
        width: 100%;
        position: absolute;
        top: 30%;
        font-size: 3vw;
    }
}